.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.main{
  background-color: #F2F2F2;
  width: 100vw;
  height: 100vh;
}

.feed{
  margin-left: 25vw;
  margin-right: 25vw;
  height: 97vh;
  overflow-x: auto;
  background-color: white;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vw;
}

.beer{
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-bottom: 1vh;
  border: 1px solid #E8E8E8;
  padding-bottom: 1vw;
}

.feed-image{
  width: 8vw;
  height: 15vw;
}

.title, .controls, .tagline{
  border-radius: 4px;
  width: 100%;
  display: flex;
}


.title{
  flex-flow: column;
}

.name{
  font-weight: bold;
}

.tagline{
  font-size: 10px;
}

.controls{
  justify-content: space-between;
}

.control{
  width:2vw ;
  height: 2vw;
  text-align: center;
  display: flex;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
